[user]
	email = gabe@ggliv.com
	name = Gabe Livengood
	signingkey = 86D6EE52B9A696AF
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[core]
	autocrlf = input
[color]
	ui = auto
	diff = auto
	status = auto
[init]
	defaultBranch = main
[alias]
	adog = log --all --decorate --oneline --graph
